.gradient-background {
  background: linear-gradient(300deg, #decbb7, #c17767, #3f1b22);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
    color: #3f1b22;
    text-align: center;
    font-size: 3rem;
    font-family: 'pacifico', cursive;
    letter-spacing: 3px;
}

h4 {
    color: #4c6663;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

ul{
    list-style-type: circle;
    font-size: 1rem;
}

.btn-secondary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #f7f0f5;
  --bs-btn-border-color: #3f1b22;
  --bs-btn-bg: #3f1b22;
  --bs-btn-hover-color: #3f1b22;
  --bs-btn-hover-bg: #d4a59a;
  --bs-btn-hover-border-color: #d4a59a;
}