.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

h3 {
  margin: 30px;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn {
  font-weight: 600;
  padding: 10px 20px;
  font-size: 1rem;
  color: #f7f0f5;
  border-color: #2f7a61;
  border-radius: 10px;
  background-color: #2f7a61;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn:hover {
  color: #f7f0f5;
  background-color: #d4a59a;
  border-color: #d4a59a;
}
